/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Poppins:wght@300&display=swap");

:root {
  --main-bg-color: rgba(55, 45, 45, 0.587);
  --font1: "Poppins", sans-serif;
  --font2: "Cormorant SC", serif;
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.btn {
  padding: 8px 15px;
  border: 2px solid grey;
  font-size: 16px;
  font-size: var(--font1);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-box input,
textarea {
  width: 44vw;
  padding: 7px 16px;
  margin: 7px;
  font-size: 10px;
  border: 2px solid rgb(23, 75, 95);
  border-radius: 5px;
  font-family: var(--font1);
}
.right-input {
  padding: 3px 5px;
  font-size: 16px;
  border: 2px solid grey;
  border-radius: 4px;
  margin: 0 4px;
  font-family: var(--font1);
}
.m-2 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.hr-style {
  color: grey;
  border: 2px solid grey;
  width: 40%;
  margin: auto;
  border-radius: 50%;
}
.mx-1 {
  margin-left: 23px;
  margin-right: 23px;
}
.center {
  text-align: center;
}
